# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Import
Weather_data_path = 'Output Data/weather_data.csv'

#Process
Weather_data= pd.read_csv(Weather_data_path)

Weather_data

,Unnamed: 0,City Name,Longitude,Latitude,Temperature (f),Humidity,Cloudiness,Wind Speed (mph)
0,0,Nikolskoye,30.79,59.70,37.40,95,90,6.71
1,1,Blagoveshchenka,79.87,52.83,38.50,68,100,16.84
2,2,Port Alfred,26.89,-33.59,64.72,83,56,19.89
3,3,Bengkulu,102.27,-3.80,76.26,84,100,4.63
4,4,Palmer,-72.33,42.16,62.60,59,75,4.70
...,...,...,...,...,...,...,...,...
577,577,Santa Isabel Rio Negro,-65.02,-0.41,78.96,83,93,2.59
578,578,Turan,108.22,16.07,75.20,94,75,10.29
579,579,Dekar,21.93,-21.53,75.60,20,0,8.08
580,580,Batticaloa,81.69,7.71,77.81,80,31,4.21
581,581,Sechura,-80.82,-5.56,73.49,58,78,18.03

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Configure and set variables. 
gmaps.configure(api_key=g_key)
locations = Weather_data[['Latitude', 'Longitude']].astype(float)
humidity = Weather_data['Humidity'].astype(float)

In [4]:
#Make a heat map!
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 100,\
                                point_radius = 1)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure