# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import json
import requests
from config import weather_key
from citipy import citipy
import time 
import numpy as np
import random

In [2]:
# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"
cities = []
units ="imperial"

## Generate Cities List

In [3]:
#Generate Longitudes, Latitudes, then Append the city names
for i in range(100):
    Long = round(random.uniform(-180, 180), 2)
    Lat = round(random.uniform(-90, 90), 2)
    city = citipy.nearest_city(Lat, Long).city_name
    if city not in cities:
        cities.append(city)

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [4]:
# Get weather data
name_city = []
longitude = []
latitude = []
max_temp = []
humidity = []
cloudiness = []
wind_speed = []

for city in cities:
    try:
        query_url = url + "appid=" + weather_key + "&q=" + city + "&units=" + units
        weather_response = requests.get(query_url)
        weather_json = weather_response.json()
        name_city.append(weather_json['name'])
        longitude.append(weather_json['coord']['lon'])
        latitude.append(weather_json['coord']['lat'])
        max_temp.append(weather_json['main']['temp_max'])
        humidity.append(weather_json['main']['humidity'])
        cloudiness.append(weather_json['clouds']['all'])
        wind_speed.append(weather_json['wind']['speed'])
        time.sleep(1)
    except:
        print('Woopsie.')
        continue

Woopsie.
Woopsie.
Woopsie.
Woopsie.
Woopsie.
Woopsie.
Woopsie.

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [5]:
data = {'City Name': name_city, 'Longtitude': longitude, 'Latitude': latitude, 'Temperature':max_temp, 'Humidity':humidity,\
       'Cloudiness': cloudiness, 'Wind Speed': wind_speed}
data_df = pd.DataFrame(data)

In [6]:
data_df.head(20)

,City Name,Longtitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed
0,Faya,42.45,18.39,66.20,23,0,10.29
1,Ushuaia,-68.30,-54.80,33.80,74,40,25.28
2,Krasne,24.61,49.91,44.60,81,75,8.95
3,East London,27.91,-33.02,64.40,77,20,4.70
4,Lompoc,-120.46,34.64,57.20,93,90,3.36
5,Atuona,-139.03,-9.80,78.28,76,0,21.25
6,Baharly,57.43,38.44,76.69,16,0,9.57
7,Macei贸,-35.74,-9.67,68.00,100,40,3.36
8,Upernavik,-56.15,72.79,36.72,76,100,7.65
9,Ayan,138.17,56.45,29.10,83,22,18.03
10,Tagusao,117.81,9.19,82.65,75,100,5.46
11,Bredasdorp,20.04,-34.53,60.80,82,80,3.36
12,Borovoy,86.08,55.43,35.60,55,40,13.42
13,Pevek,170.31,69.70,26.19,94,4,17.22
14,Van,43.38,38.49,60.80,36,40,1.12
15,Pindiga,10.93,9.98,75.79,79,0,6.80
16,Punta Arenas,-70.92,-53.15,35.60,79,75,34.45
17,Huilong,121.66,31.81,73.00,54,0,1.99
18,Hong Kong,114.16,22.29,81.00,57,9,8.01
19,Mor贸n,-58.62,-34.65,77.00,72,0,1.99

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [10]:
clean_df = data_df.Humidity <= 100

In [12]:
#  Get the indices of cities that have humidity over 100%.

Series([], Name: Humidity, dtype: bool)

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression